.*.swp
*.o
*.xo
*.so
*.d
*.log
dump.rdb
openamdc-benchmark
openamdc-check-aof
openamdc-check-rdb
openamdc-check-dump
openamdc-cli
openamdc-sentinel
openamdc-server
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
src/openamdc.conf
src/nodes.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
tests/tls/*
.make-*
.prerequisites
*.dSYM
Makefile.dep
.vscode/*
.idea/*
.ccls
.ccls-cache/*
compile_commands.json
openamdc.code-workspace
rocksdb.dir
temp-*.rdb