[Unit]
Description=Open Advanced In-Memory Data Cache
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/openamdc-server /etc/openamdc/openamdc.conf
ExecStop=/bin/kill -s TERM $MAINPID
WorkingDirectory=/var/lib/openamdc
PIDFile=/var/run/openamdc-server.pid
Restart=always
User=openamdc
Group=openamdc
RuntimeDirectory=openamdc
RuntimeDirectoryMode=2755

UMask=007
PrivateTmp=yes
LimitNOFILE=65535
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/openamdc
ReadWriteDirectories=-/var/log/openamdc
ReadWriteDirectories=-/var/run

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

ProtectSystem=true
ReadWriteDirectories=-/etc/openamdc

[Install]
WantedBy=multi-user.target
Alias=openamdc.service
